.wrap{
    max-width: 425px;
    margin: 0 auto;
}

*{
    font-family: 'Ubuntu', sans-serif;
}


.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover{
    background-color: #ccc;
}


.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.mus{
    margin: 0 auto;
    padding: 0 auto;
}

.cat, img{
    margin: 0 auto;
}

.h11{
    text-align: right;
}

.h1{
    background:rgb(204, 204, 204);
    padding: 4px;
    border-radius: 10px;
}

.hh1{
    font-size: 25px;
}